@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chivo:ital,wght@0,600;1,500&family=Dela+Gothic+One&display=swap');

.footer {
	background-color: var(--clrAmber400);
	color: black;
	position: relative;
	bottom: 0;
	width: 100%;
	font-family: Chivo, sans-serif;
	font-weight: 600;
}